/* Estilo general del footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif; /* Cambia 'NombreFuente' por el nombre de la fuente deseada */
}

/* Columnas del footer */
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logov1 {
    margin-bottom: 30px;
    width: 150px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer p,
footer a {
    font-family: 'League Spartan', sans-serif;
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #222;
    text-decoration: none;
}

footer a:hover {
    color: #088178;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover {
    color: #088178;
}

/* Estilo general del contenedor de imágenes */
footer .row {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
footer .install img{
    margin: 15px 0 15px 0;
}

/* Tamaño uniforme para imágenes de app y play */
footer .app, 
footer .play {
    width: 160px;
    height: auto;
    object-fit: contain;
    display: block;
}

footer .copyright {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 0.9em;
    color: #888;
}
